*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif ;
}

.centrar_medidas1{
  text-align: center;
  width: 1280px;
  margin: auto;
}

.centrar_medidas2{
  text-align: center;
  width: 1280px;
  margin: auto;
  margin-top: 140px;
}

.contenedor_history{
  
   background: 
      
      linear-gradient(to bottom, transparent 70%, white 100%),
      
      url(imagenes/bg-header-desktop.png) center / cover no-repeat;
    
    min-height: 400px;
  
  
}

.imagen_logo{
  width: 100px;
  margin-top: 120px;
}


.ancla_azul{
  background-color: aqua;
  color: white;
  border: 2px solid aqua;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px ;
  display: inline-block;
  margin-top: 40px;
}

.ancla_morado{
  background-color: purple;
  color: white;
  border: 2px solid purple;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px ;
  display: inline-block;
  margin-top: 40px;
}


.color_gris{
  color: #d4d4d4;
  margin-top: 10px;
  line-height: 2.0;
}

.imagen_computadora{
  display: inline-block;
  width: 600px;
}

.conetenedor_quick{
  display: inline-block;
  width: 350px;
  vertical-align: top;
  text-align: left;
  margin-left: 240px;
}

.conetenedor_quick h3{
  margin-top: 50px;
}

.imagen_dispositivos{
  margin-top: 120px;
}

.contenedor_3iconos{
  display: inline-block;
  width: 400px;
  vertical-align: top;
  margin-top: 60px;
}

.contenedor_empresas img{
  width: 150px;
  margin-right: 100px;
}

.contenedor_empresas img:first-child{
  margin-left: 50px;
}

.contenedor_empresas img:last-child{
  margin-right: 40px;
}

h2{
  margin-bottom: 30px;
  font-size: 25px;
}

.footer{
  background-color: #d4d4d4;
  height: 120px;
}

.logo_footer{
  width: 60px;
  display: inline-block;
  text-align: left;
  border: solid;
  margin-top: 30px;
  margin-right: 90px;
  margin-left: 50px;
  vertical-align: middle;
}

.logo_footer img{
  width: 50px;
}

.enlaces_footer{
  width: 500px;
  display: inline-block;
  border: solid;
  vertical-align: middle;
  margin-top: 30px;
  text-align: left;
}

.enlaces_footer a{
  margin-right: 50px;
  text-decoration: none;
}

.enlaces_footer a:first-child{
  margin-right: 50px;
}

.enlaces_footer_segunda_linea{
  text-align: left;
  margin-top: 10px;
}

.redes_sociales{
  width: 200px;
  text-align: right;
  display: inline-block;
  border: solid;
  margin-top: 30px;
  margin-left: 300px;
  vertical-align: middle;
}

.redes_sociales a{
  margin-right: 20px;
}

